body{
    background-color: rgb(213, 164, 91);
}



#menu-superior li a
{   text-decoration: none;

}
#menu-superior li{
   display: inline;
   padding-left: 20px;
}

#btnLogar{
   margin-top:20px;
   width: 480px;
}


#senha{
   
   margin-top:10px;

}

#menu-lateral{
   background: rgb(21, 19, 19);
   background: linear-gradient(9deg, rgb(36, 24, 24) 0%, rgb(12, 14, 17) 100%, rgb(28, 16, 16) 100%); 
   height:700px;
}
#menu-lateral ul li a{
   text-decoration: none;
   color:#df7474;
}